/**
 * Defaults
 */
/**
 * Brand Colors
 */
/**
 * Typography Colors
 */
/**
 * Block Colors
 */
/*--------------------------------------------------------------------------
  REM to PX for Fonts
  http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
  Usage: @include font-size(13);
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
  Width, Margin and Padding Mixins
  - These calculate % using the famous RWD formula, target/context*100
--------------------------------------------------------------------------*/
/**
 * Utils
 * ---
 */
/**
 * Resets and Typography Utils
 * ---
 */
/**
 * Blocks
 */
/* Form Field */
.body-container .widget-type-google_search input[type="text"],
#hs-pwd-widget-password,
.body-container .hs-form-field {
  margin-bottom: 10px; }

.hs-button,
input[type="submit"].hs-button {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  display: inline-block;
  vertical-align: baseline;
  border: 0 none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 500ms, background 500ms;
  -o-transition: color 500ms, background 500ms;
  transition: color 500ms, background 500ms;
  vertical-align: bottom;
  padding: 1.1em 1.7em;
  border: 2px solid #0053b5;
  border-radius: 6px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: .8375em;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  background: transparent;
  color: #0053b5; }
  .hs-button:hover, .hs-button:focus,
  input[type="submit"].hs-button:hover,
  input[type="submit"].hs-button:focus {
    text-decoration: none; }
  .hs-button:hover, .hs-button:focus,
  input[type="submit"].hs-button:hover,
  input[type="submit"].hs-button:focus {
    color: #fff;
    background: #0053b5; }

form #hs-pwd-widget-password {
  height: auto !important; }

/* Descriptions */
/* Labels */
.body-container .hs-form-field > label {
  display: block;
  margin: 10px 0 0.5em 0;
  line-height: 1.15;
  font-size: 16px;
  color: #555555; }

/* One Line Inputs */
.body-container input[type="text"],
.body-container input[type="password"],
.body-container input[type="datetime"],
.body-container input[type="datetime-local"],
.body-container input[type="date"],
.body-container input[type="month"],
.body-container input[type="time"],
.body-container input[type="week"],
.body-container input[type="number"],
.body-container input[type="email"],
.body-container input[type="url"],
.body-container input[type="search"],
.body-container input[type="tel"],
.body-container input[type="color"],
.body-container input[type="file"],
.body-container textarea,
.body-container select {
  width: 100%;
  display: block;
  font-family: sans-serif;
  line-height: 1.15;
  padding: 5px;
  font-size: 16px;
  color: #000; }

.body-container input[type="text"]:focus,
.body-container input[type="password"]:focus,
.body-container input[type="datetime"]:focus,
.body-container input[type="datetime-local"]:focus,
.body-container input[type="date"]:focus,
.body-container input[type="month"]:focus,
.body-container input[type="time"]:focus,
.body-container input[type="week"]:focus,
.body-container input[type="number"]:focus,
.body-container input[type="email"]:focus,
.body-container input[type="url"]:focus,
.body-container input[type="search"]:focus,
.body-container input[type="tel"]:focus,
.body-container input[type="color"]:focus,
.body-container input[type="file"]:focus,
.body-container textarea:focus,
.body-container select:focus {
  outline: 0; }

/* Separate Styles for Multiple Line Inputs */
/* Separate Styles for Drop Downs */
body select:focus {
  font-size: 14px; }

/* Multiple Selection Inputs */
body form.hs-form .hs-form-field ul.inputs-list {
  list-style: none;
  padding: 0; }

/* Required */
/* Placeholder Text */
::-webkit-input-placeholder {
  /* Webkit Browsers */
  /* color: #555;
   opacity: 1; */ }

:-moz-placeholder {
  /* Firefox 18- */
  /* color: #555;
   opacity: 1; */ }

::-moz-placeholder {
  /* Firefox 19+ */
  /* color: #555;
   opacity: 1; */ }

:-ms-input-placeholder {
  /* IE10 */
  /* color: #555;
   opacity: 1; */ }

/* Form Module
   ========================================================================== */
/* Form Field */
/* Descriptions */
/* Labels */
/* One Line Inputs */
/* Separate Styles for Multiple Line Inputs */
/* Separate Styles for Drop Downs */
/* Multiple Selection Inputs */
/* Blog Comment Form
   ========================================================================== */
/* Label */
/* Inputs */
/* Error */
.hs-error-msgs {
  line-height: 1.15;
  font-size: 16px;
  color: #f00; }

body .widget-span form.hs-form fieldset[class*="form-columns"] .hs-input {
  padding: 0.5em 1em;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #dadada; }

.card-thumb {
  width: 100%; }
  .flexbox .card-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .card-thumb a {
    display: block;
    position: relative;
    width: 100%;
    color: #fff;
    text-decoration: none;
    background-color: #F5F8FC;
    overflow: hidden;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s; }
    .card-thumb a:hover, .card-thumb a:focus {
      color: #fff;
      background-color: #00b0b9; }
      .card-thumb a:hover h3,
      .card-thumb a:hover h4, .card-thumb a:focus h3,
      .card-thumb a:focus h4 {
        color: #fff; }

.card-thumb-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F5F8FC;
  padding-bottom: 50%; }
  .card-thumb--small .card-thumb-image {
    padding-bottom: 40%; }

.card-thumb-body {
  min-height: 7.5em;
  padding: 1em; }

.card-thumb-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .card-thumb-meta h4 {
    margin-bottom: 1.5em;
    color: #1652a1;
    font-size: 0.8125em;
    text-transform: uppercase;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s; }

.card-thumb-content h3 {
  margin: 0;
  color: #54586d;
  font-size: 1.125em;
  text-transform: none;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }

/**
 * Headings
 */
.heading-tab {
  position: relative;
  margin-top: .75em;
  padding-top: .75em; }
  .heading-tab:before {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    width: 23px;
    height: 5px;
    background: #1652a1;
    content: ' '; }

/* CTA Buttons*/
.ctabutton {
  font-family: NeoSansStd-Bold,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 500ms, background 500ms;
  -o-transition: color 500ms, background 500ms;
  transition: color 500ms, background 500ms;
  vertical-align: bottom;
  padding: .875em 1.25em;
  border: 2px solid #0050b5;
  border-radius: 6px;
  color: #0050b5;
  font-size: .9375em;
  line-height: 1;
  text-transform: uppercase;
  background: 0 0; }

.ctabutton:focus,
.ctabutton:hover {
  text-decoration: none;
  color: #fff;
  background: #0050b5; }

.button--reversed:focus,
.button--reversed:hover {
  color: #0050b5; }

.grad-button--reversed {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  vertical-align: bottom;
  padding: 1.1em 1.7em;
  border: 2px solid #48e0d1;
  border-radius: 6px;
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-size: .8375em;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  background: 0 0;
  -webkit-transition: color 500ms,background 500ms;
  -o-transition: color 500ms,background 500ms;
  transition: color 500ms,background 500ms; }
  .grad-button--reversed:hover, .grad-button--reversed:focus {
    color: #fff;
    text-decoration: none;
    background: #48e0d1; }

/**
 * Forms
 */
.body-container {
  /**
   * Columns
   */
  /**
   * Fix Field Widths
   */
  /**
   * Fields
   */
  /**
   * Button
   */ }
  .body-container form.hs-form.stacked {
    max-width: 31.25em; }
  .body-container .form-columns-1,
  .body-container .form-columns-2,
  .body-container .form-columns-3 {
    margin-left: -1em;
    max-width: none; }
    .body-container .form-columns-1 > *,
    .body-container .form-columns-2 > *,
    .body-container .form-columns-3 > * {
      padding-left: 1em; }
  .body-container fieldset.form-columns-1 .hs-form-field {
    width: 100% !important; }
  .body-container fieldset.form-columns-2 .hs-form-field {
    width: 100% !important; }
    .no-mediaqueries .body-container fieldset.form-columns-2 .hs-form-field {
      width: 50% !important; }
  .body-container fieldset.form-columns-3 .hs-form-field {
    width: 100% !important; }
    .no-mediaqueries .body-container fieldset.form-columns-3 .hs-form-field {
      width: 33.33% !important; }
  .body-container fieldset.form-columns-1 .input,
  .body-container fieldset.form-columns-2 .input,
  .body-container fieldset.form-columns-3 .input {
    margin-right: 0;
    width: 100%;
    max-width: none; }
  .body-container .hs-input,
  .body-container fieldset.form-columns-1 .hs-input {
    width: 100% !important;
    max-width: none; }
  .body-container .hs-input[type="checkbox"],
  .body-container fieldset.form-columns-1 .hs-input[type="checkbox"] {
    margin-top: 0.3em;
    width: auto !important; }
    .body-container .hs-input[type="checkbox"] + span,
    .body-container fieldset.form-columns-1 .hs-input[type="checkbox"] + span {
      margin-left: 1.25em; }
  .body-container .hs-fieldtype-select select.hs-input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
    .body-container .hs-fieldtype-select select.hs-input:focus {
      font-size: 16px; }
  .body-container .hs-fieldtype-select .input {
    position: relative; }
    .body-container .hs-fieldtype-select .input::after {
      position: absolute;
      top: 50%;
      right: .5em;
      -webkit-transform: translateY(calc( -50% + 3px));
          -ms-transform: translateY(calc( -50% + 3px));
              transform: translateY(calc( -50% + 3px));
      border: solid transparent;
      height: 0;
      width: 0;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #201C26;
      border-width: 7px;
      border-left-width: 4px;
      border-right-width: 4px;
      content: ' '; }
  .body-container .hs-form-field > label {
    margin: 10px 0 .75em;
    font-weight: bold; }
  .body-container .hs-form-required {
    display: inline-block;
    vertical-align: top;
    margin-left: .15em;
    color: #f00;
    font-size: .85em; }
  .body-container .hs-error-msgs {
    margin: 0;
    margin-top: .5em;
    font-size: .85em;
    line-height: 1.4; }
  .body-container .hs-form-checkbox .hs-input,
  .body-container .hs_subscribe .hs-input {
    margin-right: .5em; }
  .body-container .inputs-list li:before {
    content: none !important; }
  .body-container .hs-richtext p {
    font-size: 0.875em; }
  .body-container .hs-button {
    margin-top: 1em; }

.hs_cos_wrapper_type_email_subscriptions .page-header h1,
.hs_cos_wrapper_type_email_simple_subscription .page-header h1,
.hs_cos_wrapper_type_email_subscriptions_confirmation .page-header h1 {
  font-size: 1.875em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #201C26; }
  .hs_cos_wrapper_type_email_subscriptions .page-header h1 a,
  .hs_cos_wrapper_type_email_simple_subscription .page-header h1 a,
  .hs_cos_wrapper_type_email_subscriptions_confirmation .page-header h1 a {
    color: inherit; }

/**
 * Header
 */
/**
 * Navigaions
 */
/**
 * Mobile Header
 */
/**
 * Mobile Nav
 */
/**
 * Banners
 */
.banner {
  margin-top: 5em;
  background-repeat: no-repeat;
  background-position: center; }
  .banner .banner-title {
    max-width: 65em; }

.banner-post-title {
  margin-top: 0.75em; }

.banner-link {
  margin-top: 1em; }
  .banner-link a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    font-weight: 700;
    color: #fff; }
    .banner-link a:hover, .banner-link a:focus {
      text-decoration: underline; }

/**
 * Blog Archive Header
 */
.blog-archive-header {
  position: relative;
  margin-bottom: 1em; }
  .no-mediaqueries .blog-archive-header .button--subscribe {
    position: absolute;
    top: .5em;
    right: 0; }

/**
 * Tab Navigation
 */
.tab-navigation {
  display: none;
  border-bottom: 1px solid #dce3e4; }
  .no-mediaqueries .tab-navigation {
    display: block; }
  .tab-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .tab-navigation li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-right: -5px;
    margin-bottom: -3px; }
    .tab-navigation li + li {
      margin-left: 1.5em; }
  .tab-navigation a {
    display: block;
    position: relative;
    padding: 1em 0;
    padding-bottom: 2em;
    color: #54586d;
    font-weight: 400;
    text-decoration: none; }
    .tab-navigation a:hover, .tab-navigation a:focus {
      color: #0050b5; }
      .tab-navigation a:hover:after, .tab-navigation a:focus:after {
        background-color: #0050b5; }
    .tab-navigation a:after {
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 2px;
      width: 100%;
      height: 5px;
      background-color: transparent;
      -webkit-transition: background-color 500ms;
      -o-transition: background-color 500ms;
      transition: background-color 500ms;
      content: ' '; }
  .tab-navigation .active a {
    color: #0050b5;
    font-weight: 700; }
    .tab-navigation .active a:after {
      background-color: #0050b5; }

/**
 * Pagination
 */
.pagination {
  margin-top: 2em;
  text-align: center; }
  .pagination ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .pagination li {
    display: inline-block;
    vertical-align: baseline;
    overflow: hidden; }
    .pagination li.hide {
      display: none; }
    .pagination li.active a {
      color: #fff;
      background: #0050b5; }
  .pagination a {
    display: block;
    padding: .5em 0.75em;
    min-width: 1.5em;
    color: #0050b5;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    background-color: #f5f8fc;
    overflow: hidden;
    -webkit-transition: color 500ms, background 500ms;
    -o-transition: color 500ms, background 500ms;
    transition: color 500ms, background 500ms; }
    .pagination a:hover, .pagination a:focus {
      color: #fff;
      background: #0050b5; }

/**
 * Archive Page
 */
.post-listing {
  padding: 2em 0; }

.section--blog-archive {
  padding-top: 2em; }

/**
 * Cards
 */
.card a {
  min-height: 21.25em; }
  .card a:hover .card-inner, .card a:focus .card-inner {
    color: #fff;
    background-color: #00b0b9;
    background-color: rgba(0, 176, 185, 0.9); }
  .card a:hover h4, .card a:focus h4 {
    color: inherit; }

.card .card-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  min-height: 0;
  color: #54586d;
  background-color: #f5f8fc;
  background-color: rgba(242, 246, 247, 0.9); }

.card h3,
.card h4 {
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms; }

.card h3 {
  font-size: 1.125em; }

.card h4 {
  color: #0050b5; }

.flexbox .card-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/**
 * Single Post
 */
.article-content:after {
  display: block;
  clear: both;
  content: ' '; }

.article-button {
  margin-top: 1em; }

.section--post-content .wrap {
  position: relative; }

.social-share-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .social-share-list li {
    display: inline-block;
    vertical-align: top;
    margin: 0; }
    .social-share-list li + li {
      margin-left: 1em; }
  .social-share-list a {
    display: block; }

.recommended-posts header,
.popular-posts header {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #dce3e4; }
  .recommended-posts header h2,
  .popular-posts header h2 {
    margin: 0;
    text-align: center; }

/**
 * Post Author Block
 */
.post-author:after {
  display: block;
  clear: both;
  content: ' '; }

.no-mediaqueries .flexbox .post-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.post-author-header {
  margin-bottom: 1.5em; }
  .no-mediaqueries .post-author-header {
    float: left;
    margin-bottom: 0;
    width: 6.875em; }
  .post-author-header img {
    display: block;
    margin: 0 auto; }

.no-mediaqueries .post-author-body {
  padding-left: 1.5em; }

.no-mediaqueries .flexbox .post-author-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0; }

.post-author-body p {
  font-size: .9375em; }

.blog-post-container .section + .section {
  padding-top: 0; }
  .no-mediaqueries .blog-post-container .section + .section {
    padding-top: 0; }
  .no-mediaqueries .blog-post-container .section + .section {
    padding-top: 0; }

.section.post-footer {
  padding: 0; }
  .no-mediaqueries .section.post-footer {
    padding: 0; }
  .no-mediaqueries .section.post-footer {
    padding: 0; }

/**
 * Subscribe Block
 */
.article-subscribe.article-subscribe {
  padding: 2em;
  background-color: #f5f8fc; }
  .no-mediaqueries .article-subscribe.article-subscribe {
    padding: 2.375em 2em; }
  .article-subscribe.article-subscribe h3 {
    font-size: 1.875em;
    color: #201C26;
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
    text-align: center; }
  .article-subscribe.article-subscribe p {
    font-size: .9375em; }
  .article-subscribe.article-subscribe .inputs-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    .article-subscribe.article-subscribe .inputs-list li {
      display: inline-block;
      vertical-align: baseline;
      margin: 0; }
      .article-subscribe.article-subscribe .inputs-list li + li {
        margin-left: 1em; }
    .article-subscribe.article-subscribe .inputs-list input + span {
      padding-left: .25em; }
  .article-subscribe.article-subscribe form {
    position: relative;
    margin: 0 auto;
    max-width: 31.25em; }
  .article-subscribe.article-subscribe .hs_blog_default_hubspot_blog_subscription {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; }
    .article-subscribe.article-subscribe .hs_blog_default_hubspot_blog_subscription > label {
      font-weight: bold; }
    .article-subscribe.article-subscribe .hs_blog_default_hubspot_blog_subscription .input {
      margin: 0 !important; }
  .article-subscribe.article-subscribe .hs_email > label {
    position: absolute;
    border: 0 none;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0); }
    .article-subscribe.article-subscribe .hs_email > label.focusable:active, .article-subscribe.article-subscribe .hs_email > label.focusable:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto; }
  .article-subscribe.article-subscribe .hs_email .input {
    margin-right: 0; }
  .article-subscribe.article-subscribe .hs_email input[type="email"] {
    margin: 0;
    padding: 0 1em;
    padding-right: 9em;
    border: 1px solid #0050b5;
    border-radius: 6px;
    width: 100%;
    height: 50px;
    font-size: .9375em;
    line-height: 50px;
    background-color: #fff; }
  .article-subscribe.article-subscribe .hs_submit {
    position: absolute;
    top: 0;
    right: 0; }
    .article-subscribe.article-subscribe .hs_submit input[type="submit"] {
      margin: 0;
      padding: 0 1.25em;
      height: 50px;
      line-height: 48px;
      background-color: #fff;
      -webkit-transition: color 500ms, background-color 500ms, border-color 500ms;
      -o-transition: color 500ms, background-color 500ms, border-color 500ms;
      transition: color 500ms, background-color 500ms, border-color 500ms; }
      .article-subscribe.article-subscribe .hs_submit input[type="submit"]:hover, .article-subscribe.article-subscribe .hs_submit input[type="submit"]:focus {
        border-color: #0053b5;
        color: #fff;
        background-color: #0053b5; }
  .article-subscribe.article-subscribe fieldset {
    max-width: none; }

/**
 * Landing Pages
 */
.header-container > .row-fluid-wrapper:first-child {
  position: absolute;
  top: 0;
  height: 0;
  width: 0; }

.landing-page {
  /**
   * Custom Columns
   */ }
  .landing-page .hs_cos_wrapper_widget + .hs_cos_wrapper_widget {
    margin-top: 2em; }
  .landing-page .fullwidth-column.section .row-fluid-wrapper {
    overflow: hidden; }
    .landing-page .fullwidth-column.section .row-fluid-wrapper + .row-fluid-wrapper {
      margin-top: 2em; }
  .landing-page .fullwidth-column.section .row-fluid {
    margin-left: -2em;
    margin-top: -2em; }
    .landing-page .fullwidth-column.section .row-fluid > .span12,
    .landing-page .fullwidth-column.section .row-fluid > .span4,
    .landing-page .fullwidth-column.section .row-fluid > .span5,
    .landing-page .fullwidth-column.section .row-fluid > .span6,
    .landing-page .fullwidth-column.section .row-fluid > .span7,
    .landing-page .fullwidth-column.section .row-fluid > .span8 {
      margin-left: 0;
      padding-left: 2em;
      padding-top: 2em;
      width: 100%; }
  .landing-page .page-content {
    opacity: 1; }

.landing-page--no-header .banner {
  margin-top: 0; }

/**
 * Grid
 */
.flexbox .l-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flexbox .l-grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0; }

.flexbox .l-grid-item > * {
  width: 100%; }

/**
 * popup
 */
/**
 * Newsletter Popup
 */
.newsletter-popup {
  position: relative;
  margin: 1.5em auto;
  width: auto;
  max-width: 35.9375em;
  background: -o-linear-gradient(45deg, #1652a1 20%, #00b0b9 88%);
  background: linear-gradient(45deg, #1652a1 20%, #00b0b9 88%);
  border-radius: 9px;
  overflow: hidden; }
  .newsletter-popup button.mfp-close.mfp-close {
    color: #fff;
    -webkit-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms; }
    .newsletter-popup button.mfp-close.mfp-close:hover, .newsletter-popup button.mfp-close.mfp-close:focus {
      color: #fff;
      opacity: 0.75; }

.newsletter-popup-body {
  padding: 2em;
  color: #fff; }

@supports ((-webkit-clip-path: polygon(0 66%, 100% 0, 100% 100%, 0% 100%)) or (clip-path: polygon(0 66%, 100% 0, 100% 100%, 0% 100%))) {
  .newsletter-popup-body {
    padding-bottom: 0; } }

.newsletter-popup-footer {
  padding: 2em;
  text-align: right;
  background: #fff;
  background: rgba(255, 255, 255, 0.975); }

@supports ((-webkit-clip-path: polygon(0 66%, 100% 0, 100% 100%, 0% 100%)) or (clip-path: polygon(0 66%, 100% 0, 100% 100%, 0% 100%))) {
  .newsletter-popup-footer {
    padding-top: 3.75em;
    padding-bottom: 1.4375em;
    -webkit-clip-path: polygon(0 66%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 66%, 100% 0, 100% 100%, 0% 100%); } }

.newsletter-popup-title {
  font-family: NeoSansStd-Light, sans-serif;
  font-weight: normal !important;
  font-style: normal !important;
  margin: 0;
  margin-bottom: 0.15em;
  color: inherit;
  font-size: 3em;
  line-height: 1; }

.newsletter-popup-sub-head {
  margin: 0;
  margin-bottom: 1em;
  color: inherit;
  font-size: 1.5em;
  line-height: 1; }

.newsletter-popup-copy {
  margin: 0;
  color: inherit;
  font-size: 1.125em;
  line-height: 1.2; }

.newsletter-popup-inner-wrap {
  position: relative;
  z-index: 10; }

.newsletter-popup-bkg-image {
  display: block;
  position: absolute;
  left: -9999px;
  top: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: 100%;
  min-width: 35.9375em;
  user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  z-index: 0;
  opacity: 0.125; }
  .object-fit .newsletter-popup-bkg-image {
    -o-object-fit: cover;
       object-fit: cover;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    width: 100%;
    height: auto; }

.hbspt-form.hbspt-form > form input[type="submit"] {
  border: 2px solid #0050b5 !important;
  color: #0050b5;
  background: transparent; }
  .hbspt-form.hbspt-form > form input[type="submit"]:hover, .hbspt-form.hbspt-form > form input[type="submit"]:focus {
    background: #0050b5; }
  @media screen and (min-width: 47.5em) {
      .body-container fieldset.form-columns-2 .hs-form-field {
        width: 50% !important; }
      .body-container fieldset.form-columns-3 .hs-form-field {
        width: 33.33% !important; }
    .blog-archive-header .button--subscribe {
      position: absolute;
      top: .5em;
      right: 0; }
    .tab-navigation {
      display: block; }
  .flexbox .post-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .post-author-header {
      float: left;
      margin-bottom: 0;
      width: 6.875em; }
  .post-author-body {
    padding-left: 1.5em; }
  .flexbox .post-author-body {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0; }
    .blog-post-container .section + .section {
      padding-top: 0; }
    .section.post-footer {
      padding: 0; }
    .article-subscribe.article-subscribe {
      padding: 2.375em 2em; } }
  @media screen and (min-width: 48em) {
        .landing-page .fullwidth-column.section .row-fluid > .span12,
        .landing-page .fullwidth-column.section .row-fluid > .span4,
        .landing-page .fullwidth-column.section .row-fluid > .span5,
        .landing-page .fullwidth-column.section .row-fluid > .span6,
        .landing-page .fullwidth-column.section .row-fluid > .span7,
        .landing-page .fullwidth-column.section .row-fluid > .span8 {
          margin-left: 0; }
      .landing-page .fullwidth-column.section .row-fluid > .span4 {
        width: 33.333%; }
      .landing-page .fullwidth-column.section .row-fluid > .span5 {
        width: 41.666%; }
      .landing-page .fullwidth-column.section .row-fluid > .span6 {
        width: 50%; }
      .landing-page .fullwidth-column.section .row-fluid > .span7 {
        width: 58.333%; }
      .landing-page .fullwidth-column.section .row-fluid > .span8 {
        width: 66.666%; } }
  @media screen and (min-width: 60em) {
    .blog-post-container .section + .section {
      padding-top: 0; }
    .section.post-footer {
      padding: 0; } }
  @media screen and (min-width: 66.25em) {
  .post-social-share {
    position: absolute;
    left: -3em;
    top: 1em; }
      .social-share-list li {
        display: block; }
        .social-share-list li + li {
          margin-left: 0;
          margin-top: .5em; } }
  @media screen and (min-width: 75em) {
    .article-subscribe.article-subscribe {
      padding: 4.375em 2em; } }
  @media screen and (min-width: 80em) {
        .landing-page .fullwidth-column.section .row-fluid > .span12,
        .landing-page .fullwidth-column.section .row-fluid > .span4,
        .landing-page .fullwidth-column.section .row-fluid > .span5,
        .landing-page .fullwidth-column.section .row-fluid > .span6,
        .landing-page .fullwidth-column.section .row-fluid > .span7,
        .landing-page .fullwidth-column.section .row-fluid > .span8 {
          margin-left: 0; }
      .landing-page .fullwidth-column.section .row-fluid > .span4 {
        width: 33.333%; }
      .landing-page .fullwidth-column.section .row-fluid > .span5 {
        width: 41.666%; }
      .landing-page .fullwidth-column.section .row-fluid > .span6 {
        width: 50%; }
      .landing-page .fullwidth-column.section .row-fluid > .span7 {
        width: 58.333%; }
      .landing-page .fullwidth-column.section .row-fluid > .span8 {
        width: 66.666%; } }
  @media screen and (min-width: 81.25em) {
  .post-social-share {
    left: -6em; } }
  @media screen and (min-width: 112.5em) {
      .banner .banner-title .h1 {
        font-size: 3.125em; } }
