<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="footer-clip">
    <div class="primary-footer">
      <div class="footer-col-1">
        <div class="footer-branding">
          <a href="https://fluenceenergy.com/" rel="home">
            <svg class="site-logo" width="236" height="54">
              <use href="#site-logo" />
            </svg>
          </a>
        </div>
      </div>

      <div class="footer-col-2">
        <div class="footer-social">
          <h3>Connect</h3>

					<ul class="social-nav">
						<li>
							<a href="https://twitter.com/fluenceenergy" target="_blank">
								<span class="vh">Twitter</span>
								<svg class="twitter-circle-svg" width="39" height="39">
									<use href="#twitter-circle-icon" />
								</svg>
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/fluenceenergy" target="_blank">
								<span class="vh">LinkedIn</span>
								<svg class="linkedin-circle-svg" width="39" height="39">
									<use href="#linkedin-circle-icon" />
								</svg>
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/channel/UCSMP_HD5g-kSWZMHTH2FE2w" target="_blank">
								<span class="vh">YouTube</span>
								<svg class="youtube-circle-svg" width="39" height="39">
									<use href="#youtube-circle-icon" />
								</svg>
							</a>
						</li>
					</ul>
        </div>
      </div>
    </div>
    <div class="site-info">
      <div class="footer-box-left">
        <div class="site-copyright">
          <p><small>Copyright © {{year}} Fluence. All rights reserved.</small></p>
          <ul class="footer-menu">
            <li id="menu-item-1446" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1446"><a href="https://fluenceenergy.com/website-privacy-policy/">Website Privacy Policy</a></li>
          </ul>
        </div>
        <p class="gdpr-box">Any transfer of personal data processed by Fluence entities established in the European Economic Area (including the member states of the European Union, Iceland, Norway, Switzerland, and Liechtenstein) to areas outside of this area is based on Binding Corporate Rules and EU Standard Contractual Clauses.</p>
      </div>
      <div class="imagebox">
        <p><small>Website by <a href="https://imagebox.com" target="_blank" title="Pittsburgh Web Design, Graphic Design &amp; Marketing"><svg width="81" height="23"><use xlink:href="#imagebox-logo"></use></svg></a></small></p>
      </div>
    </div>
  </div>
</footer>
