<section class="fullwidth-column section section--blog-archive">
    <div class="wrap">
        <div class="l-main">
            
            <div class="blog-archive-header">
                <div class="tab-navigation">
                    <ul>
                        <li class="{% if content.absolute_url == group.absolute_url %} active {% endif %}">
                            <a href="{{ group.absolute_url }}">Most Recent</a>
                        </li>
                        <li class="{% if content.absolute_url == blog_tag_url('default', 'popular') %} active {% endif %}">
                            <a href="{{ blog_tag_url('default', 'popular') }}">Popular</a>
                        </li>
                        <li class="{% if content.absolute_url == blog_tag_url('default', 'industry-trends') %} active {% endif %}">
                            <a href="{{ blog_tag_url('default', 'industry-trends') }}">Industry Trends</a>
                        </li>
                        <li class="{% if content.absolute_url == blog_tag_url('default', 'networks') %} active {% endif %}">
                            <a href="{{ blog_tag_url('default', 'networks') }}">Networks</a>
                        </li>
                        <li class="{% if content.absolute_url == blog_tag_url('default', 'generation') %} active {% endif %}">
                            <a href="{{ blog_tag_url('default', 'generation') }}">Generation</a>
                        </li>
                        <li class="{% if content.absolute_url == blog_tag_url('default', 'energy-use') %} active {% endif %}">
                            <a href="{{ blog_tag_url('default', 'energy-use') }}">Energy Use</a>
                        </li>
                        <li class="{% if content.absolute_url == blog_tag_url('default', 'technology-services') %} active {% endif %}">
                            <a href="{{ blog_tag_url('default', 'technology-services') }}">Technology &amp; Services</a>
                        </li>
                    </ul>
                </div>
                <a href="#blog-signup-box" class="grad-button button--subscribe js-sub-pop"><span>Subscribe</span></a>

                <div class="hubspot-signup-box-container">
                    <div id="blog-signup-box" class="hubspot-signup-box">

                        <!--[if lte IE 8]>
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                        <![endif]-->
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                        <script>
                          hbspt.forms.create({
                            css: '',
                            portalId: '2810531',
                            formId: '30d58676-badb-4375-8e83-6f63cc9ff40a'
                          });
                        </script>


                    </div>
                </div>

            </div>
            
            {# simple_list_page indicates the "blog/all" page, which is a list of links to every blog post #}

            <div class="post-listing">
                <div class="l-grid l-grid--three-col">
                    
                    {% for content in contents %}

                        <div class="l-grid-item">
                            <div class="card-thumb">
                                <a href="{{content.absolute_url}}">
                                    {% if content.post_list_summary_featured_image %}
                                        <div class="card-thumb-image" {% if content.post_list_summary_featured_image %}
                                            style="background-image:url('{{ content.post_list_summary_featured_image }}')"
                                        {% endif %}>
                                        </div>
                                    {% endif %}
                                    <div class="card-thumb-body">
                                        <div class="card-thumb-meta">

                                            {% if content.topic_list %}
                                                {% set topic_list_limit = 1 %}

                                                {% for topic in content.topic_list %}
                                                    {% if topic_list_limit < 2  %}

                                                        <h4>{{ topic.name }}</h4>

                                                    {% endif %}

                                                    {% set topic_list_limit = topic_list_limit + 1 %}
                                                {% endfor %}
                                            {% endif %}
                                            
                                            <h4>{{ content.publish_date|datetimeformat('%B %e, %Y') }}</h4>
                                        </div>
                                        <div class="card-thumb-content">
                                            <h3>{{ content.name }}</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>

            <div class="pagination">
                {% if contents.total_page_count > 0 %}
                    {% if widget.range == 10 %}
                        {% set base = 10 %}
                        {% set loop_ = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'] %}
                    {% else %}
                        {% set base = 5 %}
                        {% set loop_ = ['1', '2', '3', '4', '5'] %}
                    {% endif %}
                    
                    {% set current_pg_index = last_page_num + 1 %}
                    {% set range_start = ((1 - current_pg_index) % base) + current_pg_index %}
                    
                    {# EXTRA: calculate start of previous range and end of next
                        {% set range_end = range_start + (base)-1 %}
                    
                        {% set previous_range_start = ((6 - current_pg_index) % base) + current_pg_index - base  %}
                        {% if previous_range_start < 1 %}
                            {% set previous_range_start = 1 %}
                        {% endif %}
                    #}
                    <ul>
                        <li class="first-posts-link {% if current_pg_index <= 1 %}hide{% endif %}">
                            <a href="{{ blog_page_link(1) }}">
                                <svg width="15" height="13" viewBox="0 0 20 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>First Page</title><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-502.000000, -1991.000000)" fill="currentcolor"><g transform="translate(496.000000, 1983.000000)"><path d="M19,11.5 L19,8 L6,14.5 L19,21 L19,17.5 L26,21 L26,8 L19,11.5 Z"></path></g></g></g></svg>
                            </a>
                        </li>
                        <li class="previous-posts-link {% if !last_page_num %}hide{% endif %}">
                            <a href="{{ blog_page_link(last_page_num) }}">
                                <svg width="10" height="13" viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Previous Page</title><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-542.000000, -1991.000000)" fill="currentColor"><g transform="translate(496.000000, 1983.000000)"><polygon transform="translate(52.500000, 14.500000) rotate(-180.000000) translate(-52.500000, -14.500000) " points="59 14.5 46 21 46 8"></polygon></g></g></g></svg>
                            </a>
                        </li>

                        {% set i = range_start %}
                        {% for pg in loop_ %} {# effectively, for i=1 to i=base #}
                            {% if i <= contents.total_page_count %}

                                <li{% if i == current_pg_index %} class="active"{% endif %}>
                                    <a href="{{ blog_page_link(i) }}">{{ i }}</a>
                                </li>

                            {% set i = i + 1 %}
                            {% endif %}
                        {% endfor %}

                        <li class="next-posts-link {% if current_pg_index == contents.total_page_count %}hide{% endif %}">
                            <a href="{{ blog_page_link(next_page_num) }}">
                                <svg width="10" height="13" viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Next Page</title><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-733.000000, -1988.000000)" fill="currentColor"><g transform="translate(495.000000, 1980.000000)"><polygon points="251 14.5 238 21 238 8"></polygon></g></g></g></svg>
                            </a>
                        </li>
                        <li class="last-posts-link {% if current_pg_index == contents.total_page_count %}hide{% endif %}">
                            <a href="{{ blog_page_link(contents.total_page_count) }}">
                                <svg width="15" height="13" viewBox="0 0 20 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Last Page</title><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-767.000000, -1988.000000)" fill="currentcolor"><g transform="translate(495.000000, 1980.000000)"><path d="M279,17.5 L272,21 L272,8 L279,11.5 L279,8 L292,14.5 L279,21 L279,17.5 Z"></path></g></g></g></svg>
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div>

        </div>
    </div>
</section>
