<header class="banner" {% if widget.background_image.src %}
    style="background-image: url('{{ widget.background_image.src }}')"
  {% endif %}>
  <div class="wrap">
    <div class="banner-title">
      <span class="h1"> 
        {{ widget.page_title }}
      </span>
    </div>
  </div>
</header>