{% set topic_posts = blog_recent_topic_posts( 'default', 'featured', 1 ) %}
<header class="banner {% if is_listing_view %}{% else %}banner--single-post{% endif %}"
  {% if topic_posts and is_listing_view %}
    {% for topic_post in topic_posts %}
      {% if topic_post.featured_image %}
        style="background-image:url('{{topic_post.featured_image}}')"
      {% endif %}
    {% endfor %}
  {% elif module.banner_image.src %}
    style="background-image:url('{{ module.banner_image.src }}')"
  {% else %}
    style="background-image:url('https://blog.fluenceenergy.com/hubfs/Banners/Blog%20Default%20Banner%20Image_02.png')"
  {% endif %}>
  <div class="overlay-flu banner-off"></div>
  <div class="wrap slide-up-fade-in slide-up-fade-in-is-animate" style="opacity:1;">
    <div class="banner-title remove-padding-title--banner">

      {% if is_listing_view %}
        {% if topic_posts %}
          {% for topic_post in topic_posts %}
            
            <h4 class="banner-pre-title">Featured Article</h4>
            <span class="h1">
              {{ topic_post.name }}
            </span>
            <div class="article-button">
              <a class="grad-button--reversed" href="{{ topic_post.absolute_url }}"><span>Read More</span></a>
            </div>

          {% endfor %}
        {% else %}

          <span class="h1">The Full Potential</span>

        {% endif %}
      {% else %}

        <h4 class="banner-pre-title">
          {{ content.publish_date|datetimeformat('%B %e, %Y') }}
        </h4>
        <h1 class="h1">
          {{ content.name }}
        </h1>
        {% if content.blog_post_author %}
          <h4 class="banner-post-title">By {{ content.blog_post_author.display_name }}</h4>
        {% endif %}

      {% endif %}

    </div>
  </div>
</header>
