
<div class="blog-post-container">
  <section class="fullwidth-column section section--post-content">
    <div class="wrap wrap--limited">
      <div class="article-content">
        {{ content.post_body }}
      </div>
      <div class="post-social-share">
        <h5 class="vh">Share</h5>
        <ul class="social-share-list">
          <li>
            <a class="js-social-share"
               target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u={{ content.absolute_url }}">
              <svg class="social-facebook-svg" width="34" height="34">
                <use xlink:href="#social-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="js-social-share"
               target="_blank"
               href="https://twitter.com/intent/tweet/?url={{ content.absolute_url }}">
              <svg class="social-twitter-svg" width="34" height="34">
                <use xlink:href="#social-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="js-social-share"
               target="_blank"
               href="https://plus.google.com/share?url={{ content.absolute_url }}">
              <svg class="social-google_plus-svg" width="34" height="34">
                <use xlink:href="#social-google_plus"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="js-social-share"
               target="_blank"
               href="https://www.linkedin.com/shareArticle?mini=true&url={{ content.absolute_url }}&source={{ content.absolute_url }}">
              <svg class="social-linkedin-svg" width="34" height="34">
                <use xlink:href="#social-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="post-author-block">
    <div class="wrap wrap--limited">

    <div class="post-author">
      {% if content.blog_post_author.avatar %}
        <header class="post-author-header">
          <img src="{{ content.blog_post_author.avatar }}" alt="">
        </header>
      {% endif %}

      <div class="post-author-body">
        {{ content.blog_post_author.bio }}
      </div>
    </div>

    </div>
  </section>

  <section class="fullwidth-column section">
    <div class="wrap wrap--limited">
      <div class="article-subscribe">
        {% blog_subscribe "subscribe_fluence_blog" select_blog='default', title='Get the latest news', response_message='Thanks for Subscribing!', label='Blog Email Subscription', overrideable=False %}
      </div>
    </div>
  </section>


  {% if content.topic_list %}

    <section class="fullwidth-column section">
      <div class="wrap">
        <div class="recommended-posts">
          <header>
            <h2>Related Posts</h2>
          </header>

          <div>
            <div class="l-grid l-grid--three-col">
              
              {% for topic in content.topic_list %}
                {% if loop.first %}
                  {% set related_posts = blog_recent_topic_posts('default', topic.slug, 3 ) %}
                  {% for post in related_posts %}
                    {% unless content.absolute_url == post.absolute_url %}

                      <div class="l-grid-item">

                        <div class="card-thumb">
                          <a href="{{ post.absolute_url }}">
                            {% if post.post_list_summary_featured_image %}
                              <div class="card-thumb-image" {% if post.post_list_summary_featured_image %}
                                style="background-image:url('{{ post.post_list_summary_featured_image }}')"
                              {% endif %}>
                              </div>
                            {% endif %}
                            <div class="card-thumb-body">
                              <div class="card-thumb-meta">

                                {% if post.topic_list %}
                                  {% set topic_list_limit = 1 %}

                                  {% for topic in post.topic_list %}
                                    {% if topic_list_limit < 2  %}

                                      <h4>{{ topic.name }}</h4>

                                    {% endif %}

                                    {% set topic_list_limit = topic_list_limit + 1 %}
                                  {% endfor %}
                                {% endif %}
                                
                                <h4>{{ post.publish_date|datetimeformat('%B %e, %Y') }}</h4>
                              </div>
                              <div class="card-thumb-content">
                                <h3>{{ post.name }}</h3>
                              </div>
                            </div>
                          </a>
                        </div>

                      </div>

                    {% endunless %}
                  {% endfor %}
                {% endif %}
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </section>

  {% endif %}


  {% set pop_posts = blog_popular_posts( 'default', 3 ) %}

  {% if pop_posts %}

    <section class="fullwidth-column section">
      <div class="wrap">
        <div class="popular-posts">
          <header>
            <h2>Most Popular</h2>
          </header>
          <div>
            <div class="l-grid l-grid--three-col">

              {% for pop_post in pop_posts %}

                <div class="l-grid-item">

                  <div class="card-thumb">
                    <a href="{{ pop_post.absolute_url }}">
                      {% if pop_post.post_list_summary_featured_image %}
                        <div class="card-thumb-image" {% if pop_post.post_list_summary_featured_image %}
                          style="background-image:url('{{ pop_post.post_list_summary_featured_image }}')"
                        {% endif %}>
                        </div>
                      {% endif %}
                      <div class="card-thumb-body">
                        <div class="card-thumb-meta">

                          {% if pop_post.topic_list %}
                            {% set topic_list_limit = 1 %}

                            {% for topic in pop_post.topic_list %}
                              {% if topic_list_limit < 2  %}

                                <h4>{{ topic.name }}</h4>

                              {% endif %}

                              {% set topic_list_limit = topic_list_limit + 1 %}
                            {% endfor %}
                          {% endif %}
                          
                          <h4>{{ pop_post.publish_date|datetimeformat('%B %e, %Y') }}</h4>
                        </div>
                        <div class="card-thumb-content">
                          <h3>{{ pop_post.name }}</h3>
                        </div>
                      </div>
                    </a>
                  </div>

                </div>

              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </section>

  {% endif %}
</div>
