
.card-thumb {
  width: 100%;

  .flexbox & {
    display: flex;
  }

  a {
    display: block;
    position: relative;
    width: 100%;
    color: #fff;
    text-decoration: none;
    background-color: $bkg-light-grey;
    // border-radius: 6px;
    overflow: hidden;
    transition: background-color 0.5s;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $card-color-2;

      h3,
      h4 {
        color: #fff;
      }
    }
  }
}

.card-thumb-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bkg-light-grey;
  padding-bottom: 50%;

  .card-thumb--small & {
    padding-bottom: 40%;
  }
}

.card-thumb-body {
  min-height: 7.5em;
  padding: 1em;
}

.card-thumb-meta {
  display: flex;
  justify-content: space-between;

  h4 {
    // @include NeoSansStd-Bold;
    margin-bottom: 1.5em;
    color: #1652a1;
    font-size: 0.8125em;
    text-transform: uppercase;
    transition: color 0.5s;
  }
}

.card-thumb-content {
  h3 {
    // @include NeoSansStd-Regular;
    margin: 0;
    color: #54586d;
    font-size: 1.125em;
    text-transform: none;
    transition: color 0.5s;
  }
}
