/* Form Field */
.body-container .widget-type-google_search input[type="text"],
#hs-pwd-widget-password,
.body-container .hs-form-field {
    margin-bottom:10px;
}


.hs-button,
input[type="submit"].hs-button {
  @include button( #0053b5 );
  color: #0053b5;
}

form {
  #hs-pwd-widget-password {
    height: auto !important;
  }
}


/* Descriptions */
.body-container .hs-field-desc {}

/* Labels */
.body-container label {}
.body-container .hs-form-field > label {
    display: block;
    margin: 10px 0 0.5em 0;
    line-height: 1.15;
    font-size: 16px;
    color: #555555;
}

/* One Line Inputs */
.body-container input[type="text"],
.body-container input[type="password"], 
.body-container input[type="datetime"], 
.body-container input[type="datetime-local"], 
.body-container input[type="date"], 
.body-container input[type="month"], 
.body-container input[type="time"], 
.body-container input[type="week"], 
.body-container input[type="number"], 
.body-container input[type="email"], 
.body-container input[type="url"], 
.body-container input[type="search"], 
.body-container input[type="tel"], 
.body-container input[type="color"],
.body-container input[type="file"],
.body-container textarea,
.body-container select {
    width: 100%;
    display: block;
    font-family: sans-serif;
    line-height: 1.15;
    padding: 5px;
    font-size: 16px;
    color: #000;
}

.body-container input[type="text"]:focus,
.body-container input[type="password"]:focus, 
.body-container input[type="datetime"]:focus, 
.body-container input[type="datetime-local"]:focus, 
.body-container input[type="date"]:focus, 
.body-container input[type="month"]:focus, 
.body-container input[type="time"]:focus, 
.body-container input[type="week"]:focus, 
.body-container input[type="number"]:focus, 
.body-container input[type="email"]:focus, 
.body-container input[type="url"]:focus, 
.body-container input[type="search"]:focus, 
.body-container input[type="tel"]:focus, 
.body-container input[type="color"]:focus,
.body-container input[type="file"]:focus,
.body-container textarea:focus,
.body-container select:focus {
    outline:0;
}

/* Separate Styles for Multiple Line Inputs */
body textarea {}
body textarea:focus {}

/* Separate Styles for Drop Downs */
body select {}
body select:focus {
  font-size: 14px;
}

/* Multiple Selection Inputs */
body form.hs-form .hs-form-field ul.inputs-list {
  list-style: none;
  padding: 0;
}
body form.hs-form .hs-form-field ul.inputs-list li input {}
body input[type="radio"] {}
body input[type="checkbox"] {}

/* Required */
body input:focus:required:invalid, 
body textarea:focus:required:invalid, 
body select:focus:required:invalid {}

body input:focus:required:invalid:focus, 
body textarea:focus:required:invalid:focus, 
body select:focus:required:invalid:focus {}

/* Placeholder Text */
::-webkit-input-placeholder { /* Webkit Browsers */
   /* color: #555;
   opacity: 1; */
}
:-moz-placeholder { /* Firefox 18- */
   /* color: #555;
   opacity: 1; */
}
::-moz-placeholder { /* Firefox 19+ */
   /* color: #555;
   opacity: 1; */
}
:-ms-input-placeholder { /* IE10 */
   /* color: #555;
   opacity: 1; */
}


/* Form Module
   ========================================================================== */

/* Form Field */
.hs_cos_wrapper_type_form .hs-form-field {}

/* Descriptions */
.hs_cos_wrapper_type_form .hs-field-desc {}

/* Labels */
.hs_cos_wrapper_type_form label {}
.hs_cos_wrapper_type_form .hs-form-field > label {}

/* One Line Inputs */
.hs_cos_wrapper_type_form input[type="text"],
.hs_cos_wrapper_type_form input[type="password"], 
.hs_cos_wrapper_type_form input[type="datetime"], 
.hs_cos_wrapper_type_form input[type="datetime-local"], 
.hs_cos_wrapper_type_form input[type="date"], 
.hs_cos_wrapper_type_form input[type="month"], 
.hs_cos_wrapper_type_form input[type="time"], 
.hs_cos_wrapper_type_form input[type="week"], 
.hs_cos_wrapper_type_form input[type="number"], 
.hs_cos_wrapper_type_form input[type="email"], 
.hs_cos_wrapper_type_form input[type="url"], 
.hs_cos_wrapper_type_form input[type="search"], 
.hs_cos_wrapper_type_form input[type="tel"], 
.hs_cos_wrapper_type_form input[type="color"],
.hs_cos_wrapper_type_form input[type="file"],
.hs_cos_wrapper_type_form textarea,
.hs_cos_wrapper_type_form select {}

.hs_cos_wrapper_type_form input[type="text"]:focus,
.hs_cos_wrapper_type_form input[type="password"]:focus, 
.hs_cos_wrapper_type_form input[type="datetime"]:focus, 
.hs_cos_wrapper_type_form input[type="datetime-local"]:focus, 
.hs_cos_wrapper_type_form input[type="date"]:focus, 
.hs_cos_wrapper_type_form input[type="month"]:focus, 
.hs_cos_wrapper_type_form input[type="time"]:focus, 
.hs_cos_wrapper_type_form input[type="week"]:focus, 
.hs_cos_wrapper_type_form input[type="number"]:focus, 
.hs_cos_wrapper_type_form input[type="email"]:focus, 
.hs_cos_wrapper_type_form input[type="url"]:focus, 
.hs_cos_wrapper_type_form input[type="search"]:focus, 
.hs_cos_wrapper_type_form input[type="tel"]:focus, 
.hs_cos_wrapper_type_form input[type="color"]:focus,
.hs_cos_wrapper_type_form input[type="file"]:focus,
.hs_cos_wrapper_type_form textarea:focus,
.hs_cos_wrapper_type_form select:focus {}

/* Separate Styles for Multiple Line Inputs */
.hs_cos_wrapper_type_form textarea {}
.hs_cos_wrapper_type_form textarea:focus {}

/* Separate Styles for Drop Downs */
.hs_cos_wrapper_type_form select {}
.hs_cos_wrapper_type_form select:focus {}

/* Multiple Selection Inputs */
.hs_cos_wrapper_type_form form.hs-form .hs-form-field ul.inputs-list li input {}
.hs_cos_wrapper_type_form input[type="radio"] {}
.hs_cos_wrapper_type_form input[type="checkbox"] {}


/* Blog Comment Form
   ========================================================================== */

/* Label */
#comment-form .hs-form-field > label {}
#comment-form label {}

/* Inputs */
#comment-form input[type="text"] {}
#comment-form input[type="text"]:focus {}

#comment-form textarea {}
#comment-form textarea:focus {}

#comment-form input[type="checkbox"] {}

/* Error */
body .hs-common-error-message {}

.hs-error-msgs {
    line-height: 1.15;
    font-size: 16px;
    color: #f00;
}


body .widget-span form.hs-form fieldset[class*="form-columns"] .hs-input {
  padding: 0.5em 1em;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #dadada;
}
