
// Plugins
@import "breakpoint";

// Libs
@import "libs/variables";
@import "libs/breakpoint";
@import "libs/mixins";

@import "forms";
@import "card-thumb";


/**
 * Headings
 */


// h1, .h1,
// h2, .h2,
// h3, .h3,
// h4, .h4,
// h5, .h5,
// h6, .h6 {
//   margin: 0;
//   margin-bottom: .5em;
//   color: $heading-color;
//   font-family: $heading-font-family;
//   line-height: 1.4;

//   p + & {
//     margin-top: 1em;
//   }

//   a {
//     color: inherit;
//     text-decoration: none !important;

//     &:hover,
//     &:focus {
//       color: inherit;
//       text-decoration: underline !important;
//     }
//   }
// }

// h1, .h1 {
//   @include NeoSansStd-Light;
//   @include font-size(30);
//   color: $h1-color;

//   @include breakpoint($bp-large) {
//     @include font-size(36);
//   }
// }

// h2, .h2 {
//   @include NeoSansStd-Medium;
//   @include font-size(26);
//   line-height: 1.6;
// }

// h3, .h3 {
//   @include NeoSansStd-Bold;
//   @include font-size(18);
//   line-height: 1.6;
//   text-transform: uppercase;
// }

// h4, .h4 {
//   @include NeoSansStd-Medium;
//   @include font-size(19);
// }

// h5, .h5 {
//   @include NeoSansStd-Medium;
//   @include font-size(17);
// }

// h6, .h6 {
//   @include NeoSansStd-Medium;
//   @include font-size(18);
//   line-height: 1.6;
// }

.heading-tab {
  position: relative;
  margin-top: .75em;
  padding-top: .75em;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    width: 23px;
    height: 5px;
    background: $bkg-blue;
    content: ' ';
  }
}


/* CTA Buttons*/

.ctabutton {
  font-family: NeoSansStd-Bold,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: color 500ms, background 500ms;
  vertical-align: bottom;
  padding: .875em 1.25em;
  border: 2px solid #0050b5;
  border-radius: 6px;
  color: #0050b5;
  font-size: .9375em;
  line-height: 1;
  text-transform: uppercase;
  background: 0 0;
}
.ctabutton:focus,
.ctabutton:hover {
  text-decoration: none;
  color: #fff;
  background: #0050b5;
}

.button--reversed:focus,
.button--reversed:hover {
  color: #0050b5;
}

.grad-button--reversed {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  vertical-align: bottom;
  padding: 1.1em 1.7em;
  border: 2px solid #48e0d1;
  border-radius: 6px;
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-size: .8375em;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  background: 0 0;
  transition: color 500ms,background 500ms;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    background: #48e0d1;
  }
}


/**
 * Forms
 */

.body-container {

  /**
   * Columns
   */
  
  form.hs-form.stacked {
    max-width: 31.25em;
  }

  .form-columns-1,
  .form-columns-2,
  .form-columns-3 {
    margin-left: -1em;
    max-width: none;

    > * {
      padding-left: 1em;
    }
  }

  fieldset.form-columns-1 .hs-form-field {
    width: 100% !important;
  }

  fieldset.form-columns-2 .hs-form-field {
    width: 100% !important;

    @include breakpoint($bp-med) {
      width: 50% !important;
    }
  }

  fieldset.form-columns-3 .hs-form-field {
    width: 100% !important;

    @include breakpoint($bp-med) {
      width: 33.33% !important;
    }
  }


  /**
   * Fix Field Widths
   */
  
  fieldset.form-columns-1 .input,
  fieldset.form-columns-2 .input,
  fieldset.form-columns-3 .input {
    margin-right: 0;
    width: 100%;
    max-width: none;
  }

  .hs-input,
  fieldset.form-columns-1 .hs-input {
    width: 100% !important;
    max-width: none;
  }

  .hs-input[type="checkbox"],
  fieldset.form-columns-1 .hs-input[type="checkbox"] {
    margin-top: 0.3em;
    width: auto !important;

    + span {
      margin-left: 1.25em;
    }
  }

  .hs-fieldtype-select {
    select.hs-input {
      appearance: none;

      &:focus {
        font-size: 16px;
      }
    }

    .input {
      position: relative;

      &::after {
        position: absolute;
        top: 50%;
        right: .5em;
        transform: translateY( calc( -50% + 3px ));
        border: solid transparent;
        height: 0;
        width: 0;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-top-color: $base-font-color;
        border-width: 7px;
        border-left-width: 4px;
        border-right-width: 4px;
        content: ' ';
      }
    }
  }


  /**
   * Fields
   */

  .hs-form-field > label {
    margin: 10px 0 .75em;
    font-weight: bold;
  }

  .hs-form-required {
    display: inline-block;
    vertical-align: top;
    margin-left: .15em;
    color: #f00;
    font-size: .85em;
  }

  .hs-error-msgs {
    margin: 0;
    margin-top: .5em;
    font-size: .85em;
    line-height: 1.4;
  }

  .hs-form-checkbox,
  .hs_subscribe {
    .hs-input {
      margin-right: .5em;
    }
  }

  .inputs-list {
    li {
      &:before {
        content: none !important;
      }
    }
  }

  .hs-richtext {
    p {
      font-size: 0.875em;
    }
  }

  /**
   * Button
   */

  .hs-button {
    margin-top: 1em;
  }
}

.hs_cos_wrapper_type_email_subscriptions,
.hs_cos_wrapper_type_email_simple_subscription,
.hs_cos_wrapper_type_email_subscriptions_confirmation {
  .page-header {
    h1 {
      @include font-size(30);
      font-family: $heading-font-family;
      line-height: 1.4;
      color: $color-black;

      a {
        color: inherit;
      }
    }
  }
}



/**
 * Header
 */

// .site-header.site-header {
//   display: none;
//   padding: 1em 0;
//   background: #fff;
//   transition: padding 500ms;

//   @include breakpoint($bp-med) {
//     display: block;
//   }

//   &.minify-header {
//     padding: 0;
//     background: #fff;
//     background: rgba(255, 255, 255, .95);
//   }

//   &.site-header--no-nav {
//     position: absolute;
//   }
// }

// .site-header-inner {

//   .flexbox & {
//     @include breakpoint($bp-med) {
//       display: block;
//     }
//   }

//   > .row-fluid-wrapper {
//     > .row-fluid  {
//       .flexbox & {
//         @include breakpoint($bp-med) {
//           display: flex;
//           align-items: center;
//           justify-content: space-between;
//         }
//       }
//     }
//   }
// }

// .site-branding {
//   a {
//     color: $heading-color;
//   }
// }
// .site-header--no-nav.minify-header {
//   .site-branding {

//   }
// }


/**
 * Navigaions
 */

// .navigation--utility,
// .navigation--main {
//   ul {
//     @include list-reset();
    
//     li {
//       @include nav-item-reset();

//       + li {
//         margin-left: .75em;
//       }
//     }
//   }
// }

// .navigation--main.navigation--main {
//   float: right;
//   width: auto;
//   border-top: 1px solid #bcbfc5;

//   a {
//     color: #0050b5;
//   }

//   li {
//     &:hover,
//     &.is-active {
//       > .hs-menu-children-wrapper {
//         left: 0;
//         opacity: 1;
//       }
//     }

//     &:last-child {
//       &:hover,
//       &.is-active {
//         > .hs-menu-children-wrapper {
//           left: auto;
//           right: 0;
//         }
//       }
//     }
//   }

//   .hs-menu-wrapper > ul {
//     display: flex;
//   }

//   .hs-item-has-children {
//     position: relative;
//   }

//   .hs-menu-children-wrapper {
//     position: absolute;
//     left: -9999px;
//     top: 100%;
//     margin: 0;
//     padding: .25em .75em;
//     border-radius: 3px;
//     min-width: 10.5em;
//     text-align: left;
//     z-index: 490;
//     opacity: 0;
//     background-color: $bkg-blue;
//     background-color: rgba(22, 82, 161, .85);
//     transition: opacity 100ms linear;

//     li {
//       display: block;
//       margin: 0;
//       max-width: none;

//       + li {
//         border-top: 1px solid #84d2d4;
//         border-top-color: #84d2d4;
//         border-top-color: rgba(255,255,255,.5);
//       }
//     }

//     a {
//       padding: .75em 1em;
//       padding-top: .85em;
//       color: #fff;
//     }
//   }
// }

// .navigation--utility.navigation--utility {

//   a {
//     color: #717372;
//   }
// }


/**
 * Mobile Header
 */

// .site-header--mobile.site-header--mobile {
//   display: block;
//   top: 0;
//   left: 0;
//   width: 100%;

//   @include breakpoint($bp-med) {
//     display: none;
//   }
// }

// .mobile-header-left.mobile-header-left {
//   float: left;
// }

// .mobile-header-right.mobile-header-right {
//   float: right;
// }

// .mobile-nav-tray.mobile-nav-tray {
//   width: 100%;
// }


/**
 * Mobile Nav
 */

// .navigation--mobile {

//   ul {
//     @include list-reset;
//   }

//   li {
//     margin: 0;

//     + li {
//       border-top: 1px solid #4d7bb7;
//     }
//   }

//   a {
//     font-family: NeoSansStd-Medium,sans-serif;
//     font-weight: 400!important;
//     font-style: normal!important;
//     display: block;
//     padding: 1em;
//     color: #fff;
//     font-size: 1.1875em;
//     text-transform: uppercase;
//     text-align: center;
//     text-decoration: none;
//     -webkit-transition: color .5s;
//     -o-transition: color .5s;
//     transition: color .5s;
//   }

//   .row-number-14 {
//     ul {
//       border-top: 1px solid #4d7bb7;
//     }

//     li {
//       display: inline-block;
//       vertical-align: top;
//       border-bottom: 1px solid #4d7bb7;
//       margin-right: -5px;
//       width: 50%;

//       + li {
//         border-top: 0 none;
//       }

//       &:nth-of-type(2n+2) {
//         border-left: 1px solid #4d7bb7;
//       }
//     }
//   }
// }



/**
 * Banners
 */

.banner {
  margin-top: 5em;
  background-repeat: no-repeat;
  background-position: center;

  .banner-title {
    max-width: 65em;

    .h1 {
      @include breakpoint( $bp-mega ) {
        font-size: 3.125em;
      }
    }
  }

  // .wrap {
  //   @include breakpoint( $bp-mega ) {
  //     padding-top: 10em;
  //     padding-bottom: 9.5em;
  //   }
  // }
}

// .banner {
//   margin-top: 0;
//   padding-top: 7em;
//   background: transparent url('https://cdn2.hubspot.net/hubfs/2810531/fluence/banner-bkg.jpg') center no-repeat;
//   background-size: cover;

//   @include breakpoint($bp-med) {
//     margin-top: 0;
//     padding-top: 10.875em;
//   }
// }

// .banner--single-post {
//   padding-bottom: 6em;

//   @include breakpoint($bp-med) {
//     padding-bottom: 2em;
//   }

//   .wrap {
//     position: relative;
//   }

//   .article-button {
//     position: absolute;
//     right: 1em;
//     bottom: -5em;

//     @include breakpoint($bp-med) {
//       bottom: 0;
//     }

//     @include breakpoint($bp-xl) {
//       right: 12em;
//       bottom: 0;
//     }
//   }
// }

// .banner-title {
//   @include breakpoint($bp-large) {
//     // padding: 9.5625em 0;
//   }

//   .h1 {
//     + .banner-byline {
//       margin-top: 1em;
//     }
//   }
// }

// .banner-byline,
// .banner-pre-title {
//   @include NeoSansStd-Medium;
//   color: #fff;
//   text-transform: uppercase;
//   text-align: center;
// }

// .banner-byline {
//   margin: 0;
// }

// .byline-separator {
//   display: inline-block;
//   vertical-align: baseline;
//   padding: 0 .15em;
//   color: #fff37c;
// }

.banner-post-title {
  margin-top: 0.75em;
}

.banner-link {
  margin-top: 1em;

  a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    font-weight: 700;
    color: #fff;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}


/**
 * Blog Archive Header
 */

.blog-archive-header {
  position: relative;
  margin-bottom: 1em;

  .button--subscribe {
    @include breakpoint($bp-med) {
      position: absolute;
      top: .5em;
      right: 0;
    }
  }
}

// .button--subscribe {
//   color: #0050b5;
// }


/**
 * Tab Navigation
 */

.tab-navigation {
  display: none;
  border-bottom: 1px solid #dce3e4;

  @include breakpoint($bp-med) {
    display: block;
  }

  ul {
    @include list-reset;
  }

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-right: -5px;
    margin-bottom: -3px;

    + li {
      margin-left: 1.5em;
    }
  }

  a {
    // @include NeoSansStd-Regular;
    display: block;
    position: relative;
    padding: 1em 0;
    padding-bottom: 2em;
    color: #54586d;
    font-weight: 400;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #0050b5;

      &:after {
        background-color: #0050b5;
      }
    }

    &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 2px;
      width: 100%;
      height: 5px;
      background-color: transparent;
      transition: background-color 500ms;
      content: ' ';
    }
  }

  .active {
    a {
      // @include NeoSansStd-Medium;
      color: #0050b5;
      font-weight: 700;

      &:after {
        background-color: #0050b5;
      }
    }
  }
}



/**
 * Pagination
 */

.pagination {
  margin-top: 2em;
  text-align: center;

  ul {
    @include list-reset;
  }

  li {
    display: inline-block;
    vertical-align: baseline;
    overflow: hidden;

    &.hide {
      display: none;
    }

    &.active {
      a {
        color: #fff;
        background: #0050b5;
      }
    }
  }

  a {
    display: block;
    padding: .5em 0.75em;
    // border-radius: 3px;
    min-width: 1.5em;
    color: #0050b5;
    // font-family: NeoSansStd-Regular, sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    background-color: #f5f8fc;
    overflow: hidden;
    transition: color 500ms, background 500ms;

    &:hover,
    &:focus {
      color: #fff;
      background: #0050b5;
    }
  }
}


/**
 * Archive Page
 */

.post-listing {
  padding: 2em 0;
}

.section--blog-archive {
  padding-top: 2em;
}



/**
 * Cards
 */

.card {
  
  a {
    min-height: 21.25em;

    &:hover,
    &:focus {
      .card-inner {
        color: #fff;
        background-color: #00b0b9;
        background-color: rgba(0, 176, 185, .9);
      }

      h4 {
        color: inherit;
      }
    }
  }

  .card-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    min-height: 0;
    color: #54586d;
    background-color: #f5f8fc;
    background-color: rgba(242, 246, 247, .9);
  }

  h3,
  h4 {
    transition: color 500ms;
  }

  h3 {
    font-size: 1.125em;
  }

  h4 {
    color: #0050b5;
  }
}

.card-meta {
  .flexbox & {
    display: flex;
    justify-content: space-between;
  }
}



/**
 * Single Post
 */

.article-content {
  @include clearfix;
}

.article-button {
  margin-top: 1em;
  // margin-left: 1em;
  // text-align: right;

  // @include breakpoint($bp-med) {

  //   float: right;
  // }
}

.section--post-content {

  .wrap {
    position: relative;
  }
}

.post-social-share {
  @include breakpoint(66.25em) {
    position: absolute;
    left: -3em;
    top: 1em;
  }

  @include breakpoint(81.25em) {
    left: -6em;
  }
}

.social-share-list {
  @include list-reset;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0;

    @include breakpoint(66.25em) {
      display: block;
    }

    + li {
      margin-left: 1em;

      @include breakpoint(66.25em) {
        margin-left: 0;
        margin-top: .5em;
      }
    }
  }

  a {
    display: block;
  }
}

.recommended-posts,
.popular-posts {
  header {
    // margin-top: 2em;
    margin-bottom: 2em;
    // padding-top: 2em;
    // border-top: 1px solid #dce3e4;
    padding-bottom: 2em;
    border-bottom: 1px solid #dce3e4;

    h2 {
      margin: 0;
      text-align: center;
    }
  }
}


/**
 * Post Author Block
 */

.post-author {
  @include clearfix;

  .flexbox & {
    @include breakpoint($bp-med) {
      display: flex;
      align-items: center;
    }
  }
}

.post-author-header {
  margin-bottom: 1.5em;

  @include breakpoint($bp-med) {
    float: left;
    margin-bottom: 0;
    width: 6.875em;
  }

  img {
    display: block;
    margin: 0 auto;
    // border-radius: 6px;
  }
}

.post-author-body {
  @include breakpoint($bp-med) {
    padding-left: 1.5em;
  }

  .flexbox & {
    @include breakpoint($bp-med) {
      flex: 1 0 0;
    }
  }

  p {
    font-size: .9375em;
  }
}

.blog-post-container {
  .section {
    + .section {
      padding-top: 0;

      @include breakpoint($bp-med) {
        padding-top: 0;
      }

      @include breakpoint($bp-large) {
        padding-top: 0;
      }
    }
  }
}

.section.post-footer {
  padding: 0;

  @include breakpoint($bp-med) {
    padding: 0;
  }

  @include breakpoint($bp-large) {
    padding: 0;
  }
}


/**
 * Subscribe Block
 */

.article-subscribe.article-subscribe {
  padding: 2em;
  // padding-bottom: 6em;
  // color: #0050b5;
  // text-align: left;
  background-color: #f5f8fc;

  @include breakpoint($bp-med) {
    padding: 2.375em 2em;
    // padding-bottom: 6em;
  }

  @include breakpoint($bp-xl) {
    padding: 4.375em 2em;
    // padding-bottom: 7.375em;
  }

  h3 {
    @include font-size(30);
    color: $color-black;
    font-family: $heading-font-family;
    line-height: 1.4;
    text-align: center;
  }

  p {
    font-size: .9375em;
  }

  .inputs-list {
    @include list-reset;

    li {
      display: inline-block;
      vertical-align: baseline;
      margin: 0;

      + li {
        margin-left: 1em;
      }
    }

    input + span {
      padding-left: .25em;
    }
  }

  form {
    position: relative;
    margin: 0 auto;
    max-width: 31.25em;
  }

  .hs_blog_default_hubspot_blog_subscription {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    > label {
      font-weight: bold;
    }

    .input {
      margin: 0 !important;
    }
  }

  .hs_email {
    > label {
      @include vh;
    }

    .input {
      margin-right: 0;
    }

    input[type="email"] {
      margin: 0;
      padding: 0 1em;
      padding-right: 9em;
      border: 1px solid #0050b5;
      border-radius: 6px;
      width: 100%;
      height: 50px;
      font-size: .9375em;
      line-height: 50px;
      background-color: #fff;
    }
  }

  .hs_submit {
    position: absolute;
    top: 0;
    right: 0;

    input[type="submit"] {
      margin: 0;
      padding: 0 1.25em;
      height: 50px;
      // color: #48e0d1;
      line-height: 48px;
      background-color: #fff;
      transition: color 500ms, background-color 500ms, border-color 500ms;

      &:hover,
      &:focus {
        border-color: #0053b5;
        color: #fff;
        background-color: #0053b5;
      }
    }
  }

  fieldset {
    max-width: none;
  }
}



/**
 * Landing Pages
 */

.header-container {
  > .row-fluid-wrapper {
    &:first-child {
      position: absolute;
      top: 0;
      height: 0;
      width: 0;
    }
  }
}

.landing-page {

  // .banner {
  //   .wrap {
  //     padding-top: 0;
  //     padding-bottom: 6.5em;

  //     @include breakpoint($bp-xl) {
  //       height: 30em;
  //     }
  //   }
  // }

  .hs_cos_wrapper_widget + .hs_cos_wrapper_widget {
    margin-top: 2em;
  }


  /**
   * Custom Columns
   */
  
  .fullwidth-column.section {

    .row-fluid-wrapper {
      overflow: hidden;

      + .row-fluid-wrapper {
        margin-top: 2em;
      }
    }

    .row-fluid {
      margin-left: -2em;
      margin-top: -2em;

      > .span12,
      > .span4,
      > .span5,
      > .span6,
      > .span7,
      > .span8 {
        margin-left: 0;
        padding-left: 2em;
        padding-top: 2em;
        width: 100%;

        @include breakpoint( 768px ) {
          margin-left: 0;
        }

        @include breakpoint( 1280px ) {
          margin-left: 0;
        }
      }

      > .span4 {
        @include breakpoint( 768px ) {
          width: 33.333%;
        }
        @include breakpoint( 1280px ) {
          width: 33.333%;
        }
      }

      > .span5 {
        @include breakpoint( 768px ) {
          width: 41.666%;
        }
        @include breakpoint( 1280px ) {
          width: 41.666%;
        }
      }

      > .span6 {
        @include breakpoint( 768px ) {
          width: 50%;
        }
        @include breakpoint( 1280px ) {
          width: 50%;
        }
      }

      > .span7 {
        @include breakpoint( 768px ) {
          width: 58.333%;
        }
        @include breakpoint( 1280px ) {
          width: 58.333%;
        }
      }

      > .span8 {
        @include breakpoint( 768px ) {
          width: 66.666%;
        }
        @include breakpoint( 1280px ) {
          width: 66.666%;
        }
      }
    }
  }

  // .site-header.site-header {
  //   background: transparent;

  //   &.minify-header {
  //     @include breakpoint($bp-med) {
  //       background-color: $bkg-blue;
  //       background-color: rgba(22, 82, 161, .95);
  //       background: linear-gradient( to right, rgba(41, 77, 156, .95) 0%, rgba(0, 176, 185, .95) 100% );
  //       box-shadow: 0 0.15em 0.15em rgba(0, 0, 0, .12);
  //     }
  //   }
  // }

  // .navigation--main.navigation--main {
  //   border-top-color: #84d2d4;
  //   border-top-color: rgba(255,255,255,.5);
  // }

  // .banner {
  //   margin-top: 0;
  //   padding-top: 0;

  //   @include breakpoint($bp-med) {
  //     padding-top: 0;
  //   }

  //   @include breakpoint($bp-xl) {
  //     margin-top: 0;
  //   }
  // }

  // .site-branding {
  //   a {
  //     color: #fff;
  //   }
  // }

  .page-content {
    opacity: 1;

    // h1 {
    //   position: relative;
    //   margin-top: .75em;
    //   padding-top: .75em;

    //   &:before {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     border-radius: 2px;
    //     width: 23px;
    //     height: 5px;
    //     background: $bkg-blue;
    //     content: ' ';
    //   }
    // }
  }
}

.landing-page--no-header {
  .banner {
    margin-top: 0;
  }
}

.landing-page--no-nav {
  // .site-header.site-header {
  //   padding: 2.75em 0;

  //   &.minify-header {
  //     // padding: 1.75em 0;
  //   }
  // }

  // .banner-title.banner-title {
  //   @include breakpoint($bp-med) {
  //     padding: 4em;
  //   }

  //   @include breakpoint($bp-xl) {
  //     padding: 4em 0;
  //   }
  // }
}

.landing-page--with-nav {
  // .navigation--utility.navigation--utility {
  //   a {
  //     color: #fff;

  //     &:hover,
  //     &:focus {
  //       color: #fff;
  //     }
  //   }
  // }

  // .navigation--main.navigation--main {
  //   a {
  //     color: #fff;

  //     &:hover,
  //     &:focus {
  //       color: #fff;
  //     }
  //   }
  // }

  // .banner-title.banner-title {
  //   @include breakpoint($bp-med) {
  //     padding: 4em;
  //   }

  //   @include breakpoint($bp-xl) {
  //     padding: 4em 0;
  //   }
  // }
}


/**
 * Grid
 */

.l-grid {
  .flexbox & {
    display: flex;
    flex-wrap: wrap;
  }
}

.l-grid-item {
  .flexbox & {
    display: flex;
    margin-right: 0;
  }

  > * {
    .flexbox & {
      width: 100%;
    }
  }
}


/**
 * popup
 */


/**
 * Newsletter Popup
 */

.newsletter-popup {
  position: relative;
  margin: 1.5em auto;
  width: auto;
  max-width: 35.9375em;
  background: $gradient-background;
  border-radius: 9px;
  overflow: hidden;

  button.mfp-close.mfp-close {
    color: #fff;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      color: #fff;
      opacity: 0.75;
    }
  }
}

.newsletter-popup-body {
  // position: relative;
  padding: 2em;
  color: #fff;
}
@supports ( clip-path: polygon(0 66%, 100% 0, 100% 100%, 0% 100%) ) {
  .newsletter-popup-body {
    padding-bottom: 0;
  }
}

.newsletter-popup-footer {
  // position: relative;
  padding: 2em;
  text-align: right;
  background: #fff;
  background: rgba(#fff, 0.975);
}
@supports ( clip-path: polygon(0 66%, 100% 0, 100% 100%, 0% 100%) ) {
  .newsletter-popup-footer {
    padding-top: 3.75em;
    padding-bottom: 1.4375em;
    clip-path: polygon(0 66%, 100% 0, 100% 100%, 0% 100%);
  }
}

.newsletter-popup-title {
  @include NeoSansStd-Light;
  margin: 0;
  margin-bottom: 0.15em;
  color: inherit;
  font-size: 3em;
  line-height: 1;
}

.newsletter-popup-sub-head {
  // @include NeoSansStd-Medium;
  margin: 0;
  margin-bottom: 1em;
  color: inherit;
  font-size: 1.5em;
  line-height: 1;
}

.newsletter-popup-copy {
  // @include NeoSansStd-Light;
  margin: 0;
  color: inherit;
  font-size: 1.125em;
  line-height: 1.2;
}

.newsletter-popup-inner-wrap {
  position: relative;
  z-index: 10;
}

.newsletter-popup-bkg-image {
  @include block-fit-cover( 35.9375em );
  z-index: 0;
  opacity: 0.125;
}



.hbspt-form.hbspt-form > form input[type="submit"] {
  border: 2px solid #0050b5 !important;
  color: #0050b5;
  background: transparent;

  &:hover,
  &:focus {
    background: #0050b5;
  }
}
