//
//  Breakpoint
//  http://breakpoint-sass.com
//-------------------------------------------------------

@include breakpoint-set('to ems', true);
@include breakpoint-set('no query fallbacks', true);
@include breakpoint-set('default media', screen);

$bp-xsmall: 320px;
$bp-small:  480px;
$bp-med:    760px, 'no-query' '.no-mediaqueries';
$bp-large:  960px, 'no-query' '.no-mediaqueries';
$bp-xl:     1200px;
$bp-xl-larger: 1300px;
$bp-mega:   1800px;
$bp-mega-mega:    2100px;
