
/*--------------------------------------------------------------------------
  REM to PX for Fonts
  http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
  Usage: @include font-size(13);
--------------------------------------------------------------------------*/

// @mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.5){
//  font-size: ($sizeValue * 1) + px;
//  //line-height: ($line * 1) + px;
//  font-size: ($sizeValue / 10) + rem;
//  //line-height: ($line / 10) + rem;
// }

@mixin font-size( $sizeValue: 1.6, $line: $sizeValue * 1.5 ) {
  font-size: ( $sizeValue / 16 ) + em;
}


/*--------------------------------------------------------------------------
  Width, Margin and Padding Mixins
  - These calculate % using the famous RWD formula, target/context*100
--------------------------------------------------------------------------*/

// column widths
@mixin grid($target, $context)    { width: (($target/$context)*100%); }

// margin widths
@mixin mleft($target, $context)   { margin-left: (($target/$context)*100%); }
@mixin mright($target, $context)  { margin-right: (($target/$context)*100%); }

// padding widths
@mixin pleft($target, $context)   { padding-left: (($target/$context)*100%); }
@mixin pright($target, $context)  { padding-right: (($target/$context)*100%); }



/**
 * Utils
 * ---
 */

// Clearfix (no old IE support cause why)
@mixin clearfix {
  &:after {
    display: block;
    clear: both;
    content: ' ';
  }
}


// Image Replacement
@mixin image-replace($width, $height) {
  width: $width;
  height: $height;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}


// Image Replacement (modern)
@mixin ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


// Vis Hidden
@mixin visuallyhidden {
  position: absolute;
  border: 0 none;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect( 0 0 0 0 );

  // Allow focus
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

@mixin vh {
  @include visuallyhidden;
}



/**
 * Resets and Typography Utils
 * ---
 */

// Fonts

@mixin NeoSansStd-Regular {
  font-family: NeoSansStd-Regular, sans-serif;
  font-weight: normal !important;
  font-style: normal !important;
}

@mixin NeoSansStd-Medium {
  font-family: NeoSansStd-Medium, sans-serif;
  font-weight: normal !important;
  font-style: normal !important;
}

@mixin NeoSansStd-Bold {
  font-family: NeoSansStd-Bold, sans-serif;
  font-weight: normal !important;
  font-style: normal !important;
}

@mixin NeoSansStd-Light {
  font-family: NeoSansStd-Light, sans-serif;
  font-weight: normal !important;
  font-style: normal !important;
}

@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin nav-item-reset() {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

@mixin link-reset() {
  text-decoration: none;
  cursor: pointer;
  transition: color 500ms;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@mixin button-reset() {
  @include link-reset();
  display: inline-block;
  vertical-align: baseline;
  border: 0 none;
  text-align: center;
  cursor: pointer;
  transition: color 500ms, background 500ms;
}

@mixin button( $color ) {
  @include button-reset();
  vertical-align: bottom;
  padding: 1.1em 1.7em;
  border: 2px solid $color;
  border-radius: 6px;
  color: white;
  font-family: $base-font-family;
  font-size: .8375em;
  font-weight: bold;

  line-height: 1;
  text-transform: uppercase;
  background: transparent;

  &:hover,
  &:focus {
    color: #fff;
    background: $color;
  }
}


/**
 * Blocks
 */

@mixin reverse-block-color() {
  color: #fff;

  li,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: inherit;
    }
  }

  .button {
    border-color: white;
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus {
      border-color: white;
      color: #1652a1;
      text-decoration: none;
      background-color: white;
    }
  }

  ul {
    li {
      &::before {
        background: #fff !important;
      }
    }
  }
}

// Mimic 'background-size: cover' on a
// block. Parent el needs position relative.
@mixin block-fit-cover( $min-width: 100em ) {
  display: block;
  position: absolute;
  left: -9999px;
  top: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: 100%;
  min-width: $min-width;
  user-drag: none;
  user-select: none;
  z-index: 1;

  .object-fit & {
    object-fit: cover;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    width: 100%;
    height: auto;
  }
}
