//
//
//    MASTER VARIABLES!!!!1
//
//___________________________________________________


//
// Typography
//___________________________________________________

$base-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Open Sans', sans-serif;



//
// Colors
//___________________________________________________


/**
 * Defaults
 */

$primary-color: #fff;
$secondary-color: #333;
$tertiary-color: #555;
$quaternary-color: #666;
$primary-color-opaque: rgba( 255,255,255, .8 );
$red-dark: #B20000;

$color-blue: #0050b5;
$color-teal: #48E0D1;
$color-black: #201C26;
$color-yellow: #FFBE00;

/**
 * Brand Colors
 */

$brand-off-white: #f7f6f4;
$brand-black: #13354c;
$brand-light-grey: #F5F8FC;
$brand-dark-grey: #54586d;

$brand-blue: #1652a1;
$brand-blue--light: #00b0b9;
$brand-blue--lightest: #cfe9ea;

$brand-green--light: #84d2d4;

$brand-yellow: #fff37c;

$social-fb: #78C9FC;
$social-tw: #347dab;



/**
 * Typography Colors
 */

$base-font-color: $color-black;

$heading-color: $brand-blue;
$h1-color: $brand-dark-grey;

$link-color: $brand-blue--light;
$link-color--hover: darken( $link-color, 15% );

$text-highlight: $brand-yellow;
$text-dark: $brand-black;

$bullet-color: $brand-blue;

$nav-active-color: $brand-yellow;


// Button Colors

$button-color: $brand-blue;
$button-color--hover: darken( $button-color, 15% );

$button-color--reversed: white;
$button-color--reversed--hover: darken( white, 15% );

$card-color-1: $brand-blue;
$card-color-1--hover: darken( $card-color-1, 15% );
$card-color-2: $brand-blue--light;
$card-color-2--hover: darken( $card-color-2, 15% );
$card-color-3: $brand-blue--lightest;
$card-color-3--hover: darken( $card-color-3, 15% );

$card-color-1-transparent: rgba(22, 82, 161, .9);
$card-color-1-transparent--hover: rgba(13, 48, 94, .9);
$card-color-2-transparent: rgba(0, 176, 185, .9);
$card-color-2-transparent--hover: rgba(0, 103, 109, .9);
$card-color-3-transparent: rgba(207, 233, 234, .9);
$card-color-3-transparent--hover: rgba(154, 209, 211, .9);

$gradient-background: linear-gradient(45deg, rgba(22,82,161,1) 20%, rgba(0,176,185,1) 88%);

/**
 * Block Colors
 */

$bkg-white: #fff;
$bkg-black: #000;
$bkg-light-grey: $brand-light-grey;
$bkg-blue: $brand-blue;


$border-color: $brand-light-grey;





//
// Layout
//___________________________________________________

$max-width: 79em;
$max-width--small: 56.25em;

$max-width-spacing: 0 1em;
$max-width-spacing--large: 0 2em;

$padding: 2em;
$padding-medium: 2em;
$padding-large: 3.4em;

$vertical-padding: 2em 0;
$vertical-padding-medium: 2em 0;
$vertical-padding-large: 3.4em 0;

$horizontal-padding: 0 2em;
$horizontal-padding-medium: 0 2em;
$horizontal-padding-large: 0 3.5em;



//
// Design/Animation
//___________________________________________________


// default border radius
$border-radius: 3px;


// transitions
$transition: all 1s;
$transition-fast: all .5s;
$transition-faster: all .25s;
$transition-slow: all 2s;
$transition-slower: all 2.5s;
